<div class="main-picture ">
   
    <img src="../img/man.png" alt="man" class="picture">
    <div class="purple-elipse_big location-grid">
    </div>  
<img src="../img/money.png" alt="money" class="picture-money">
<div class="picture-lightning1">
    <img src="../img/Lightning-1.png" alt="Lightning" class="Lightning1">
</div>
<div class="picture-lightning2">
    <img src="../img/Lightning-2.png" alt="Lightning" class="Lightning2">
</div>
<img src="../img/smile.png" alt="smile" class="picture-smile">
<img src="../img/pig.png" alt="pig" class="picture-pig">
    
</div>