<header class="header">
    <nav class="menu">
       @@include('./logo.html',{})
       <input id="menu-toggle" type="checkbox" />
    	<label class='menu-button-container' for="menu-toggle">
    	<div class='menu-button'></div>
  		</label>
        <ul class="menu__list">
            <li class="menu__list-item"><a href="#section-start" class="menu__list-item-link">Главная</a></li>
            <li class="menu__list-item"><a href="#section-plus" class="menu__list-item-link">Что даст обучние</a></li>
            <li class="menu__list-item"><button class="menu__list-item-button">Личный кабинет</button></li>
        </ul>

</nav>
</header>